$primary-color: #222733;
$font-family: 'Roboto Thin', 'Roboto Mono', 'Consolas', 'Menlo', monospace;

$box-radius: 2px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

$ai-box-background: #026fc4;
$ai-box-color: #fff;

$user-box-background: #424a57;
$user-box-color: #fff;